@import '../../assets//styles/index.scss';

.home  {
    background-image: url('../../assets//images/pokeball.jpeg');
    background-position: center;

    .home__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        .header__title {

            h1 {
                margin:  0px;
                color: #e22828;
                font-family: $font-pokefont-solid;
                text-shadow: 2px 2px 3px #ffffff;
            }
        }

    }

    .home__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        .memoryBoard {
            width: 80vw;
            border: 1px solid red;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;

            .memoryBoard__item {
                border: 1px solid;
                width: 140px;
                height: 150px;

            }
        }
    }

    @media screen and (min-width: $break-width-xl) {
        height: 100vh;
    }

    @media screen and (max-height: $break-height) {
        height: auto;
    }
}

