$break-width-xl: 1262px;
$break-height: 819px;

$font-pokefont-solid: 'pokeFont-solid';
$font-pokefont-hollow: 'pokeFont-hollow';

$color-write: #ffffff;
$color-red-1: #9b0e0e;
$color-red-2: #e22828;
$color-red-3: #efb7b7;
$color-red-4: #f75050;
$color-red-5: #fe4949;
$color-blue-1: #4978f0;
$color-black-1: #000000;
