$break-width-xl: 1265px;
$break-height: 819px;


$font-pokefont-solid: 'pokeFont-solid';
$font-pokefont-hollow: 'pokeFont-hollow';

$color-write: #ffffff;
$color-red-1: #9b0e0e;
$color-red-2: #e22828;
$color-red-3: #efb7b7;
